@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'EB Garamond', serif;
}

body {
    background: url(../img/cake.jpg.jpg), rgb(245, 179, 245);
    margin: 1% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 3%;
    }
}

#title {
    text-align: center;
    padding: 10px 10px 0px 10px;
}

#description {
    text-align: center;
    padding: 20px;
}

.wrap {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    border-radius: 5%;
    font-family: 'EB Garamond', serif;
    padding: 1% 5%;
}

#survey-form {
    display: flex;
    flex-direction: column;
}

.row {
    padding: 7px;
    width: 100%;
    margin: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#suggestion {
    width: 100%;
    height: 50px;
}

.btn {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 150%;
    background-color: rgb(245, 179, 245);
}
